<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Summary</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Web Development</h3>
                    <p>Can work in frontend and backend programming languages such a HTML, CSS, JS, PHP
                    and Python. Current frameworks I am familiar with include Django, Node, Cake and Laravel.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Programming Principles</h3>
                    <p>Firm understanding of programming principles and solid grasp on what my code needs
                    to do as I am developing it
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Object Oriented Principles</h3>
                    <p>I have familiarity with Object Oriented principles such as MVC, MVVM and MVP (Android). I practice these
                        in all of my applications when the situation calls for it.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Team Player</h3>
                    <p>I value teamwork and realize the fundamental concepts behind an effective team and how such a team can
                    thrive given the right circumstances.
                    </p>
                </div>
            </div>

        </div>


    </div>
</section>