<header class="header theiaStickySidebar">
    <div class="profile-img">
        <img src="images/joesprofilepic.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="contentHead">
        <a href="/download/">Download Resume</a>
    </div>
    <div class="content">
        <h1>Joseph Alvini</h1>
        <span class="lead">Web/App/Software Developer</span>
        <div class="about-text">
            <p>
                Hello World,
            </p>
            <p>
                With 3 years in web, 1 year in app and software development, I am the perfect match
                for any team. I love what I do working very hard on any and every project put in front
                of me. I strive to be the best developer that I can be continuously putting in the
                hours to hone my skills.

            </p>

            <p>
                To this day I am constantly learning new techniques. I started learning with
                PHP, but have since moved on to more expansive programming languages such as python.
                I am currently learning Java (in school) and C# (on my own) and for the most part I like both equally.
                I also have an interest in Android Development and hope to one day start learning Swift, but for
                now I have a lot on my plate so I will have to take it up at a later time.
            </p>

            <p>
                To contact me please feel free to do so by using the contact form below or calling me at 410-499-8778.
                Thank you.
            </p>

            <p>
                Sincerely, <br>
                <img src="images/Signature.png" alt="" class="images-responsive"/></p>
        </div>


        <ul class="social-icon">
            <div  class="socialMediaIcons">
                <a href=#">
                    <i class="fab fa-facebook-f" style="font-size: 35px"></i>
                </a>
            </div>

            <div  class="socialMediaIcons">
                <a href=#">
                    <i class="fab fa-github-alt" style="font-size: 35px"></i>
                </a>

            </div>

            <div  class="socialMediaIcons">
                <a href=#">
                    <i class="fab fa-linkedin-in" style="font-size: 35px"></i>
                </a>

            </div>

            <div  class="socialMediaIcons">
                <a href=#">
                    <i class="fab fa-stack-overflow" style="font-size: 35px"></i>
                </a>
            </div>

        </ul>
    </div>

</header>