<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">
                            PHP <i class="fab fa-php" style="color: darkslateblue; font-size: 20px;"></i> (Object Oriented)
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 89%"><span class="progress-percent">89%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Python <i class="fab fa-python" style="color: #2a54f5"></i>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%"><span class="progress-percent"> 75%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">
                            Front End (HTML <i class="fab fa-html5" style="color:orangered"></i>,
                            CSS <i class="fab fa-css3-alt" style="color:dodgerblue"></i>,
                            JS <i class="fab fa-js-square" style="color:goldenrod"></i> )
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 92%;"><span class="progress-percent"> 92%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">
                            Javascript - Server Side (Node <i class="fab fa-node-js" style="color: #5cb85c"></i>
                            , Angular <i class="fab fa-angular" style="color:red"></i>)
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%;"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item"><span class="progress-title">Agile Development/Methodologies</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 82%;"><span class="progress-percent"> 82%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">Project Management</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 78%;"><span class="progress-percent"> 78%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">
                            Java <i class="fab fa-java" style="color: darkorange; font-size: 20px;"></i>
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 52%;"><span class="progress-percent"> 52%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">C#</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="48" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 48%;"><span class="progress-percent"> 48%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Ruby On Rails</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="44" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 44%;"><span class="progress-percent"> 44%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">
                            Server Admin <i class="fab fa-linux" style="color:gray()"></i>
                             (Ubuntu, Debian)
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 81%;"><span class="progress-percent"> 81%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">
                            Server Admin <i class="fab fa-windows" style="color: steelblue"></i> (Windows)
                        </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 73%;"><span class="progress-percent"> 73%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>